-e git+https://github.com/evildmp/django-widgetry.git@improve-link-schema#egg=django-widgetry-evildmp

-e git+https://github.com/evildmp/django-chained-selectbox.git@fk-compatibility#egg=django-chained-select-box-evildmp
